# Copyright (C) 2021 Ryan Britton
#
# This file is part of goodnight_mouse.
#
# goodnight_mouse is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# goodnight_mouse is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with goodnight_mouse.  If not, see <http://www.gnu.org/licenses/>.

[background]
key=g
modifiers=super

[codes]
keys=e,s,n,t,i,r,o,a
consecutive_keys=false

[overlay]
color=rgba(255, 0, 0, 0.05)

[tag]
text_color=rgb(0, 255, 0)
text_active_color=rgb(0, 0, 255)

font_family=Ubuntu Mono
font_size=14
font_bold=false
font_italic=false

color=rgb(0, 0, 0)
padding=1,3
alignment=4

border_color=rgb(255, 255, 255)
border_width=1
border_radius=3
